#imgfundo {
    background-image: url("../../../../assets/img/fundo.jpg");
    width: 100%;
    height: 80rem;
}

.logo img {
    margin: 4rem;
    width: 10rem;
    box-sizing: border-box;
}

#card {
    width: 32rem;
    
    background-color: var(--card-backgroud);
    box-shadow: 0 0 1em var(--card-gradient);

    margin: auto;
    padding: 2rem;

    box-sizing: border-box;

    border-radius: 10px;
}

#card .conteudo-card {
    width: 50%;
    margin: auto;
}

