#container-login .conteudo-login {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: auto;
}

#container-login .conteudo-login form .icon {
    position: relative;
    bottom: 2.5rem;
    left: 14.3rem;
}