<app-card>
    <article id="container-login">
        <section class="conteudo-login">
            <form action="">
                <legend>Login</legend>
                <input type="text" placeholder="Nickname" class="dados-input">
                <input type="password" placeholder="Password" class="dados-input"> 

                <img  class="icon" [src]="'../../../assets/img/icon/visibility.svg'" alt="Olho Visivél">

                <button type="submit">Enter</button>

                <a [routerLink]="['/cdsDados']">Register ></a>
            </form>
        </section>
    </article>
</app-card>