.modal {
    background-color: var(--card-backgroud-white);
    border-radius: 8px;
    box-shadow: 0 2px 8px var(--box-shadow);
    border: 1px solid #888;

    margin: auto;
    margin-top: 10rem;
    padding: 20px;
    width: 31rem;
    height: 11rem;

}