<section class="hqs">
    <app-header></app-header>
    <div class="title">
        <p>
            Comic Books
        </p>
    </div>
    <div class="repet-hq">
        <app-card-books></app-card-books>
        <app-card-books></app-card-books>
        <app-card-books></app-card-books>
        <app-card-books></app-card-books>
        <app-card-books></app-card-books>
        <app-card-books></app-card-books>
        <app-card-books></app-card-books>
        <app-card-books></app-card-books>
    </div>

</section>