#container-rgt-payment .conteudo-rgt-payment {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: auto;
}

#container-rgt-payment .conteudo-rgt-payment .input-together {
  width: 175px;
}

#container-rgt-payment .conteudo-rgt-payment .input-together-payment {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: auto;

    width: 18.5rem;
}



