<div id="container-card-pay">
    <div class="conteudo-card">
        <div class="information-pay">
            <div class="details-pay">
                <h2 class="title">Acquire the Comic</h2>
                <p class="description-pay">Read online or on your iPhone, iPad, Addresss or Android Device</p>
                <p class="value-hq">{{price}}</p>
            </div>
            <button type="button" class="btn-red" (click)="openModal()"> Buy Digital Issue</button>
        </div>
    </div>
</div>

<div class="modal-Action" *ngIf="openModalAction">
    <app-modal-action
    (openClose)="closeModal()"
    >
</app-modal-action>
</div>