#container-card-pay {
    width: 45rem;
    
    background-color: var(--card-backgroud-white);
    box-shadow: 0 0 1em var(--comics);

    margin: 3rem 0 3rem 0;
    padding: 2rem;

    box-sizing: border-box;

    border-radius: 10px;
}

#container-card-pay .conteudo-card .information-pay{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#container-card-pay .conteudo-card .information-pay .details-pay h2, .description-pay, .value-hq{
   text-align: center;
}

#container-card-pay .conteudo-card .information-pay .details-pay .description-pay {
    font: 200 12px "Inter";
}

#container-card-pay .conteudo-card .information-pay .details-pay .value-hq {
    font: 800 2rem "Roboto Condensed";
}
