<app-card>
    <article id="container-login">
        <section class="conteudo-login">
            <form id="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <legend>Login</legend>
                <div>
                    <input 
                    type="text" 
                    placeholder="Nickname" 
                    formControlName="nickname" 
                    name="nickname" 
                    id="nickname" 
                    class="data-input"
                    required
                    >
                </div>

                <div>
                    <input 
                        type="password" 
                        placeholder="Password"                                                               
                        [type]="hide ? 'password' : 'text'"
                        formControlName="password" 
                        name="password" 
                        class="data-input"
                        required
                    >
                    <span 
                        class="material-icons" 
                        id="icon" 
                        (click)="hide = !hide">
                        {{hide ? 'visibility' : 'visibility_off'}}
                    </span>
                </div>
                
                <button 
                    type="submit"
                    class="btn"
                    [disabled]="!loginForm.valid" 
                    [ngClass]="{ 'getColor' : loginForm.valid }"
                    >
                    Enter
                </button>

                <a [routerLink]="['/register/dice']">Register > </a>
            </form>
        </section>
    </article>
</app-card>