#container-login .conteudo-login {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
}

#container-login .conteudo-login .textNotification{
    margin: -18px 0px 16px 25px;
}

.alert {
    margin-left: 1.8rem;
}

small {
    position: relative;
    margin-left: 0.3rem;
    top: -0.8rem;
    color: #ed1d24;
}

.is-invalid{
    color: #ed1d24;
}
