#container-rgt-address .conteudo-rgt-address {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
}


#container-rgt-address .conteudo-rgt-address .input-together-data .input-address {
    width: 13rem;
}

#container-rgt-address .conteudo-rgt-address .input-together-data .input-number {
    width: 90px;
}
