.backgroud {
    background-color: var(--backgroud);
    
    height: 100vh;
}

#container-details{
    width: 100%;
}

#container-details a {
    text-decoration: none;
}

#container-details .details-hq {
    max-width: 1200px;
    margin: 0 auto;
}

// card de detalhes do comic 

#container-card-details {
    display: flex;
    margin: auto 2rem;
    margin-bottom: 30px;
    justify-content: center;
}

#container-card-details .img-details {
    width: 22rem;
    height: 28rem;

    box-shadow: 0em 0.6em 1em var(--comics);
}

#container-card-details .text-details {
    margin-left: 40px;
}

#container-card-details .text-details .text-topic-details{
    font: 700 1.5rem "Roboto Condensed";
}

#container-card-details .text-details .text-description-details {
    font-family: "Inter";
    padding: 6px 0;
    width: 500px;
}

#container-card-details .text-details .text-description-details {  
    font-size: 14px;  
}

#container-card-details .text-details .text-description-details 
.dice-details {
    padding: 15px 0;
    display: flex;
}

#container-card-details .text-details .text-description-details 
.dice-details p {  
    font-weight: 200;
    padding: 8px 10px 0 0;
}


#container-card-details .text-details .text-description-details 
.dice-details .dice-space {  
    width: 16rem;
}


#container-card-details .text-details .text-description-details 
.dice-details span {
    font-weight: 400;
    padding-right: 15px;
}

#container-card-details .text-details .text-description-details .dice span {
    font-weight: 400;
}

#container-card-details .text-details .text-description-details .dice p {
    font-weight: 200;
    padding: 15px 0;
    text-align: justify;
}

#container-card-details .text-details .text-description-details p {
    font-weight: 200;
    padding-right: 10px;
}

#container-card-details .text-details .text-description-details p span {
    font-weight: 400;
    padding-right: 5px;
}

