<div id="backgroud">
<app-header></app-header>
    <section id="container-details">
        <div class="details-hq">
            <a [routerLink]="['/comic/hqlist']">
                <app-title> < Back to Comic Books </app-title>
            </a>
            <div id="container-card-details" *ngFor="let databyId of IdCharacters;">
                <img class="img-details" src="{{databyId.thumbnail.path}}.{{databyId.thumbnail.extension}}" alt="{{databyId.title}}">
                <div class="text-details">
                    <p class="text-topic-details">{{databyId.title}}</p>
                    <div class="text-description-details">
        
                        <div class="dice-details">
                            <div class="dice-Published dice-space">
                                <p><span>Published:</span>{{date}}</p>
                                <p><span>Penciler:</span>{{penciler}}</p>
                            </div>
                            <div class="dice-Published">
                                <p><span>Writer:</span>{{writer}}</p>
                                <p><span>Cover Artist:</span>{{pencilerCover}}</p>
                            </div>
                        </div>
        
                        <div class="dice">
                            <span>Descrition</span>
                            <p>{{databyId.description}}</p>
                        </div>
        
                        <p><span class="text-black">Others:</span>{{Others}}</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <app-card-pay></app-card-pay>
            </div>
        </div>
    </section>
</div>