<div id="container-card-book">

    <div *ngIf="comicBooks; else details" id="card-comic">
        <img class="imgHQ" [src]="'../../../assets/img/img-hq.png'" alt="Imagem de HQ">
        <div class="text">
            <p class="text-hq">Ultimate Comics Fallout Facsimile Edition #4</p>
            <p class="text-details">Bendis, Pichelli</p>
        </div>
    </div>

    <ng-template #details id="card-details">
        <img class="imgHQ" [src]="'../../../assets/img/img-hq.png'" alt="Imagem de HQ">
        <div class="text">
            <p class="text-hq">Ultimate Comics Fallout Facsimile Edition #4</p>
            <p class="text-details">Bendis, Pichelli</p>
        </div>
    </ng-template>
</div>