<div id="base-modal">
    <div class="modal">
        <div>
            <span class="material-symbols-outlined" (click)="eventBtnModal()">close</span>
        </div>
        <div class="conteudo-card">
            <p class="description">want to complete the purchase</p>
            <div class="group-btn">
                <button type="button" class="btn-white" (click)="eventBtnModal()">Cancel</button>
                <button type="button" class="btn-red" (click)="openModal()">Go to payment</button>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="modalPay">
    <app-modal-pay></app-modal-pay>
</ng-container>