#container-rgt-address .conteudo-rgt-address {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
}


#container-rgt-address .conteudo-rgt-address .input-together-data .input-address {
    width: 13rem;
}

#container-rgt-address .conteudo-rgt-address .input-complement{
    margin-bottom: 0;
}
#container-rgt-address .conteudo-rgt-address .input-together-data .input-city{
    width: 210px;
    // width: 115px;
}

#container-rgt-address .conteudo-rgt-address .input-together-data .input-minor-field {
    width: 70px;
}
