<app-card>
    <article id="container-rgt-address">
        <section class="conteudo-rgt-address" >
            <form id="" [formGroup]="registerAddressForm" (ngSubmit)="onSubmit()">
                
                <legend>Address Data</legend>
                <input 
                    type="text" 
                    placeholder="CEP" 
                    formControlName="cep" 
                    mask="00000-000" 
                    (blur)="valueCep()"
                    class="data-input"
                >
                <input 
                    type="text" 
                    placeholder="Address" 
                    formControlName="address" 
                    class="data-input"
                >

                <input 
                    type="text" 
                    placeholder="District" 
                    formControlName="district" 
                    class="data-input"
                >
                <input 
                type="text" 
                placeholder="Complement" 
                formControlName="complement" 
                class="data-input input-complement"
                >
               
                <div class="input-together-data">

                    <input 
                        type="text" 
                        placeholder="No." 
                        formControlName="no" 
                        class="data-input input-minor-field"
                    >
                    <input 
                        type="text" 
                        placeholder="City" 
                        formControlName="city"
                        class="data-input input-city"
                    >
                </div>
  
                <button 
                    type="submit" 
                    [disabled]="!registerAddressForm.valid" 
                    (click)="btnContinue()" 
                    class="btn" 
                    [ngClass]="{ 'getColor' : registerAddressForm.valid }" 
                    >
                    Finish
                </button>

                <a [routerLink]="['/login']">Login ></a>

            </form>
        </section>
    </article>
</app-card>