#container-card-book {
    text-align: center;
    width: 330px;
    margin-bottom: 30px;

    cursor: pointer;
}

#container-card-book .imgHQ {
    width: 13rem;
    height: 18rem;

    box-shadow: 0em 0.6em 1em var(--comics);
}

#container-card-book .text-list,
.text-details {
    font: 700 1rem "Roboto Condensed";
    color: var(--font-text-black);
}

#container-card-book .text-list {
    text-align: left;

    width: 16rem;
    margin: 0.8rem 0 0 3.8rem;
}

#container-card-book .text-list .text-topic-list,
.text-description-list {
    padding: 6px 0;
}

#container-card-book .text-list .text-description-list {
    font-weight: 300;
}

// card de detalhes do comic 

#container-card-book .text-messenger {
    display: flex;
}

#container-card-book .img-details {
    width: 18rem;
    height: 24rem;

    margin-left: 62px;

    box-shadow: 0em 0.6em 1em var(--comics);
}

#container-card-book .text-messenger .text-details {
    text-align: left;
    margin-left: 91px;
}

#container-card-book .text-messenger .text-details .text-topic-details{
    font-size: 1.3rem;
}

#container-card-book .text-details .text-description-details {
    padding: 6px 0;
    width: 500px;
    font-weight: 300;
}

#container-card-book .text-details .text-description-details .dice {
    padding: 10px 0;
}

#container-card-book .text-details .text-description-details .dice-details {
    display: flex;
}

#container-card-book .text-details .text-description-details .dice-details p {
    font: 200 1rem "Inter";
    padding: 8px 10px 0 0;
}

#container-card-book .text-details .text-description-details .dice-details span {
    font: 500 1rem "Inter";
    padding-right: 15px;
}


