.backgroud {
    background-color: var(--backgroud);
    
    height: 100vh;
}

.container-hqs .repet-hq {
    margin: 0 9% 0 9%;
}

#container-card-list {
    margin-bottom: 30px;
    grid-area: content;
    display: grid;
    grid-template-columns: 214px 214px 214px 214px;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

#container-card-list .data-together {
    display: block;
}

#container-card-list .data-together .imgHQ {
    width: 11rem;
    height: 14rem;

    box-shadow: 0em 0.6em 1em var(--comics);
}

#container-card-list .text-list {
    font: 700 12px "Roboto Condensed";
}

#container-card-list .text-list {
    text-align: left;
    width: 11rem;
    margin-bottom: 10px;
}

#container-card-list .text-list .text-topic-list,
.text-description-list {
    padding: 12px 0;
}

#container-card-list .text-list .text-description-list {
    font-weight: 300;
}




