.backgroud {
    background-color: var(--backgroud);
    
    height: 100vh;
}

.container-hqs .repet-hq {
    grid-area: content;
    display: grid;
    grid-template-columns: 260px 260px 260px 260px;
    margin: 0 15% 0 15%;
}