<div id="backgroud">
    <app-header></app-header>
    <section class="container-hqs">

        <div class="repet-hq">
            <app-title>
                Comic Books
            </app-title>
            <div id="container-card-list">
                <ng-container *ngFor="let character of allCharacters;">
                    <div class="data-together">
                        <div>
                            <img (click)="toggle(character.id)" class="imgHQ"
                                src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="Imagem de HQ">
                        </div>
    
                        <div class="text-list">
                            <p class="text-topic-list">{{character.title}}</p>
                            <p class="text-description-list">{{character.creators.items.name}}</p>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </section>
</div>