.backgroud {
    background-color: var(--backgroud);
    
    height: 100vh;
}

.container-hqs {
    width: 100%;
}

.container-hqs .repet-hq {
    max-width: 1200px;
    margin: 0 auto;
}

#container-card-list {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 19rem 19rem 19rem 18rem;
    cursor: pointer;
}

#container-card-list .data-together {
    display: block;
}

#container-card-list .data-together .imgHQ {
    width: 17rem;
    height: 27rem;

    box-shadow: 0em 0.6em 1em var(--comics);
}

#container-card-list .text-list {
    width: 17rem;
    text-align: left;
    margin-bottom: 10px;
    font: 700 16px "Roboto Condensed";
}

#container-card-list .text-list .text-topic-list,
.text-description-list {
    padding: 12px 0;
}

#container-card-list .text-list .text-description-list {
    font-weight: 300;
}




