<div id="backgroud">
<app-header></app-header>
    <section class="container-hqs">
        <app-title>
            Comic Books
        </app-title>
        <div  class="repet-hq" >
            <app-card-books></app-card-books>
            <app-card-books></app-card-books>
            <app-card-books></app-card-books>
            <app-card-books></app-card-books>
            <app-card-books></app-card-books>
            <app-card-books></app-card-books>
            <app-card-books></app-card-books>
            <app-card-books></app-card-books>
        </div>
    </section>
</div>