<app-card>
    <article id="container-cds-dados">
        <section class="conteudo-cds-dados" >
            <form id="" [formGroup]="dadosForm" (ngSubmit)="onSubmit()">

                <legend>Account Data</legend>
                <input 
                    type="text" 
                    placeholder="Nickname" 
                    formControlName="nickName" 
                    class="dados-input">
                <input 
                    type="text" 
                    placeholder="First Name" 
                    formControlName="firstName" 
                    class="dados-input">
                <input 
                    type="text" 
                    placeholder="Last Name" 
                    formControlName="lastName" 
                    class="dados-input">
                <input 
                    type="text" 
                    placeholder="E-Mail" 
                    formControlName="email" 
                    class="dados-input">
                <input 
                    type="text" 
                    placeholder="Contact" 
                    formControlName="contact" 
                    class="dados-input">
                <input 
                    type="password" 
                    placeholder="Password" 
                    [type]="hide ? 'password' : 'text'" 
                    formControlName="password" 
                    class="dados-input"> 

                <span class="material-icons" Id="icon" (click)="hide = !hide">
                    {{hide ? 'visibility' : 'visibility_off'}}
                    </span>

                    <p>Form Status: {{ dadosForm.status }}</p>

                <button type="submit" [disabled]="!dadosForm.valid" (click)="btnContinue()" class="btn">Continue</button>

                <a [routerLink]="['/login']">Login ></a>

            </form>
        </section>
    </article>
</app-card>