<app-card>
    <article id="container-rgt-payment">
        <section class="conteudo-rgt-payment" >
            <form id="" [formGroup]="registerPaymentForm" (ngSubmit)="onSubmit()">

                <legend>Payment Data</legend>
                <input 
                    type="text" 
                    placeholder="Card Number" 
                    formControlName="cardNumber" 
                    mask="0000 0000 0000 0000" 
                    class="data-input">

                <div class="input-together-data">
                    <input 
                        type="text" 
                        placeholder="Validity" 
                        formControlName="validity" 
                        mask="00/00" 
                        class="data-input input-together">
                    <input 
                        type="text" 
                        placeholder="CVV" 
                        formControlName="cvv" 
                        maxlength="3"
                        class="data-input input-together">
                </div>
                <input 
                    type="text" 
                    placeholder="Cardholder Name" 
                    formControlName="cardholderName" 
                    class="data-input">
                <input 
                    type="text" 
                    placeholder="CPF of the Holder" 
                    formControlName="cpf" 
                    mask="000.000.000-00" 
                    class="data-input">
  
                <button 
                    type="submit" 
                    [disabled]="!registerPaymentForm.valid" 
                    class="btn" 
                    [ngClass]="{ 'getColor' : registerPaymentForm.valid }" 
                    >
                    Continue
                </button>

                <a [routerLink]="['/login']">Login ></a>

            </form>
        </section>
    </article>
</app-card>