legend {
    font: 400 1.1rem "Roboto Condensed";
    text-align: center;

    margin: 10px 0 35px 0;
}

legend, a, button, input {
    color: var(--font-text-white);
}

form .dados-input {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 15px auto;
    padding: 15px;

    width: 18rem;
    height: 3rem;

    border-radius: 5px;
    border: 1px solid var(--card-input);

    background-color: var(--card-backgroud);

    font: 400 0.9rem "Inter";
}

input::placeholder, a {
    font: 200 0.8rem "Inter";

    // color: var(--font-text-white);
}

.btn {
    border-radius: 5px;

    width: 18rem;
    height: 2.5rem;

    margin: auto 25px 25px;

    cursor: pointer;
}

.getColor {
    background-color: var(--card-button);
    border: 1px solid var(--card-button);
}

.inputValid{
    border: 1px solid green ;

}

.inputInvalid{
    border: 1px solid red !important;
}


a {
    margin-right: 0.5rem;
    text-decoration: none;

    font-size: 15px;

    float: right;

    cursor: pointer;
}

// .input-together-data  .input-together {
//     width: 175px;
// }

.input-together-data {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: auto;

    width: 18.5rem;
}

form #icon {
    position: relative;
    bottom: 3.1rem;
    left: 15.5rem;

    color: var(--card-icon);

    cursor: pointer;
}