<div id="container-card-list">

    <div *ngIf="listHq; else detailsHq" >
        <ng-container *ngFor="let character of allCharacters;">
            <img (click)="toggle(character.id)" class="imgHQ" src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="Imagem de HQ">
           
            <div class="text-list">
                <p class="text-topic-list">{{character.title}}</p>
                <!-- <p class="text-description-list">Bendis, Pichelli</p> -->
            </div>
        </ng-container>
    </div>
</div>

<ng-template #detailsHq>
</ng-template>