<app-card>
    <article id="container-regi-dados">
        <section class="conteudo-regi-dados" >
            <form id="" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <legend>Account Data</legend>
                <input 
                    type="text" 
                    placeholder="Nickname" 
                    formControlName="nickName" 
                    class="data-input">
                <input 
                    type="email" 
                    placeholder="E-Mail" 
                    formControlName="email" 
                    class="data-input">
                    
                    <div>
                        <input 
                        type="text" 
                        placeholder="Contact" 
                        formControlName="contact" 
                        mask="(00) 00000-0000" 
                        class="data-input">
                        
                    <div class="checkbox" >
                        <label class="text-checkbox" for="check" >Contact also on WhatsApp</label>
                        <input type="checkbox" name="check" id="check" formControlName="check">
                    </div>
                </div>
                <input 
                    type="password" 
                    placeholder="Password" 
                    [type]="hide ? 'password' : 'text'" 
                    formControlName="password" 
                    class="data-input"> 

                <span class="material-icons" id="icon" (click)="hide = !hide">
                    {{hide ? 'visibility' : 'visibility_off'}}
                    </span>

                <button 
                    type="submit" 
                    [disabled]="!registerForm.valid" 
                    (click)="btnContinue()" 
                    class="btn" 
                    [ngClass]="{ 'getColor' : registerForm.valid }" 
                    >
                    Continue
                </button>

                <a [routerLink]="['/login']">Login ></a>

            </form>
        </section>
    </article>
</app-card>