/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Roboto+Condensed:ital,wght@0,300;0,400;1,700&display=swap');


*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

:root{
    --card-backgroud: #181B19;
    --card-text: #F7F8FA;
    --card-button: #ED1D24;
    --card-input: #979797;
    --card-icon: #F7F8FA;
    --card-gradient: #F7F8FA;
    --font-text-white: #fff;
    --font-text-black: #000;
    --comics: rgba(0, 0, 0, 0.27), 0px 2.27px 3.12px rgba(0, 0, 0, 0.215913), 0px 4.84px 10.0172px rgba(0, 0, 0, 0.169756), 0px -0.42211px 3.62304px rgba(0, 0, 0, 0.115395);
    --bar-higher: #272827;
    --backgroud: #F8F6F6;
}

#backgroud{
    background-color: var(--backgroud);
    height: 100vh;
}